#container1{
    display: flex;
    padding:2rem;
    padding-bottom:3rem;
    padding-top: 7em;
    /* background-color: cornsilk; */
    width: 100%;
    justify-content: center;
    align-items: center;
    
  }

  
.lightbulb-header{
    /* max-width: 700px; */
    text-align: center;
}

.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    color: black;
    padding-bottom: 2rem;
}

.py-5{
    padding-bottom: 3rem;
}

h3 {
    font-size:24px;
  }
  
  p, ul, li, label, input, select {
    font-size: 20px;
  }

/* .mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
} */
.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

#containerRow{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    /* padding:30px; */
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    /* box-sizing: border-box; */
}

.row {
    /* display: -ms-flexbox; */
    display: flex;
    margin: 0 10rem;
    justify-content: center;
    /* -ms-flex-wrap: wrap; */
    /* flex-wrap: wrap; */
    /* margin-right: -15px;
    margin-left: -15px; */
    /* justify-content: center;
    align-items: center; */
}
/* 
.card-header {
    padding: 0.75rem 2.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
    text-align: center;

} */


.card {
    position: relative;
    /* display: -ms-flexbox; */
    display: flex;
    /* -ms-flex-direction: column;  */
    flex-direction: column;
    width:18rem;
    /* height: 40rem; */
    /* width: 40em; */
    /* min-width: 0; */
    /* max-width: 80%; */
    justify-content: center;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-align: center;
}

.card:hover {
    background-color: #3b945e;
    color: oldlace;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.card-body {
    /* -ms-flex: 1 1 auto;
    flex: 1 1 auto; */
    display: flex;
    height: 5rem;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 0.8rem;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
    /* margin: 20px; */
}

img {
    vertical-align: middle;
    border-style: none;
}

.col-md-4{
    position: relative;
    min-height: 1px;
    margin: 40px;
    padding: 20px;
    /* padding-right: 15px;
    padding-left: 15px; */
    overflow: hidden;
    border-radius: 16px;
}

/* .col-md-4:hover {
    background-color: olivedrab;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
} */
