#appliances-container{
    display: flex;
    padding:20px;
    padding-top: 100px;
    padding-bottom: 20px;
    width: 100%;
    /* height: 100vh; */
    justify-content: center;
    text-align: center;
  }
  
#appliances{
    margin: 0 40px;
    /* margin-top: 0px; */
}

#star-ratings label {
  margin: 0.3rem;
}

.selection{
    flex-direction: column;
    display: flex;
    margin:30px 0;
    align-items: stretch;
}

.display-4 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1;
    color: black;
    padding-bottom: 2rem;
}

.row{
    text-align: center;
    justify-content: space-around;
    
}

button {
    background-color: rgb(0, 89, 255); /* Blue background color */
    color: white; /* White font color */
    border: none; /* Remove border */
    border-radius: 24px; /* Rounded corners */
    width: 10em;
    padding:10px;
    cursor: pointer; /* Add a pointer cursor on hover */
}

button:hover {
    background-color: darkblue; /* Darker blue on hover */
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: oldlace;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* Default style for the icon and button */
.hover-icon,
.button1 {
  font-size: 20px; /* Set the font size as needed */
  cursor: pointer; /* Add a pointer cursor on hover */
  margin: 5px;
}

/* Style the button background color and hover effect */
.button1 {
  background-color: transparent; /* No background color */
  border: none; /* Remove border */
  color: inherit; /* Inherit text color (usually black) */
  width: auto; /* Auto width to match content */
  height: auto; /* Auto height to match content */
  padding: 0; /* Remove padding to match icon size */
  outline: none; /* Remove the default focus outline */
  transition: background-color 0.3s; /* Add a smooth background color transition */
}

/* Style the button on hover */
.button1:hover {
  background-color: rgb(0, 89, 255); 
  color: white; /* White text color on hover */
}

label {
    margin-bottom: 10px;
  }
  
/* input, select{
    width: 80%;
} */

#table-container-AC, #table-container-fridfe, #text2, #fridgeSelections, #AcSelections, #fridgeCalculatorSection, #AcCalculatorSection, #vis1{
  display: none;
}

/* .highlighted-row {
  background-color: lightgoldenrodyellow;
  color: black;
} */

.custom-table {
  border: 1px solid #dee2e6; /* Add desired border style here */
  border-collapse: collapse; /* Optional: Collapses table borders */
  width: 100%; /* Optional: Set table width as needed */
  text-align: left;
}

.custom-table th,
.custom-table td {
    border: 1px solid #000000; /* Add desired border style here */
    padding: 8px; /* Optional: Add padding for better spacing */
    text-align: left;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

p, ul, li, label, input, select {
  font-size: 20px;
}

h3 {
  font-size:24px;
}

.large-text{
  font-size: 32px;
}

.med-text{
  font-size: 24px;
}

.small-text{
  font-size: 20px;
}