#light-container{
  display: flex;
  padding:20px;
  padding-top: 100px;
  padding-bottom: 0;
  width: 100%;
  height: 100vh;
  justify-content: center;
  text-align: center;
}

#lighting-left{
  margin: 40px;
  margin-top: 0px;
}

.large-text-lights{
  font-size: 32px;
}

.med-text-lights{
  font-size: 24px;
}

.small-text-lights{
  font-size: 20px;
}

.row{
  text-align: center;
}

h2 {
  padding: 0px;
}

.display-4 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1;
  color: black;
  padding-bottom: 2rem;
}

h3 {
  font-size:24px;
}

p, ul, li, label, input, select {
  font-size: 20px;
}

button{
    padding:10px;
    margin: 10px;
}

.lighting-selection{
  flex-direction: column;
  display: flex;
  margin:30px 0;
}


label {
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  align-items: center;
}

button {
  background-color: rgb(0, 89, 255); /* Blue background color */
  color: white; /* White font color */
  border: none; /* Remove border */
  border-radius: 24px; /* Rounded corners */
  width: 10em;
  padding:10px;
  cursor: pointer; /* Add a pointer cursor on hover */
}

/* Optional: Style hover effect */
button:hover {
  background-color: darkblue; /* Darker blue on hover */
}

/* .tooltip {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  font-size: 20px;
} */

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: oldlace;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Default style for the icon and button */
.hover-icon,
.button1 {
  font-size: 20px; /* Set the font size as needed */
  cursor: pointer; /* Add a pointer cursor on hover */
  margin: 5px;
}

/* Style the button background color and hover effect */
.button1 {
  background-color: transparent; /* No background color */
  border: none; /* Remove border */
  color: inherit; /* Inherit text color (usually black) */
  width: auto; /* Auto width to match content */
  height: auto; /* Auto height to match content */
  padding: 0; /* Remove padding to match icon size */
  outline: none; /* Remove the default focus outline */
  transition: background-color 0.3s; /* Add a smooth background color transition */
}

/* Style the button on hover */
.button1:hover {
  background-color: rgb(0, 89, 255); 
  color: white; /* White text color on hover */
}


#lighting-right{
  width: 40%;
  margin: 40px;
  margin-top: 0px;
  align-items: center;
  display: flex;
}

#container{
  padding: 40px;
  margin:10px;
  background-color: oldlace;
}

.custom-table {
  border: 1px solid #dee2e6; /* Add desired border style here */
  border-collapse: collapse; /* Optional: Collapses table borders */
  width: 100%; /* Optional: Set table width as needed */
  text-align: left;
}

.custom-table th,
.custom-table td {
    border: 1px solid #000000; /* Add desired border style here */
    padding: 8px; /* Optional: Add padding for better spacing */
    text-align: left;
}

.highlighted-row {
  background-color: lightblue; /* Add your desired highlight color */
  color: black; /* Add your desired text color */
}

/* CSS for the flex container */
.compare-button-container, .boxesContainer {
  display: block;
  /* justify-content: flex-end; */
}

/* CSS for the button */
.compare-button {
  width: fit-content;
  padding: 10px 60px;
  /* width: ; */
}

.boxes{
  justify-content: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  
}

.box{
  width: 24rem;
  height:24rem;
  border: 1px solid black;
  border-radius: 24px;
  margin: 2rem;
  padding: 2rem;
  background-color: white;
  color: black; 
  transition: transform 0.3s;
}

/* Optional: Style hover effect */
.box:hover {
  background-color: #182628;
  color: oldlace;
  transform: scale(1.05);
}