#container1{
    display: flex;
    padding:2rem;
    padding-top: 7rem;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

.lightbulb-header{
    text-align: center;
}

.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
    color: black;
    padding-bottom: 2rem;
}

.py-5{
    padding-bottom: 3rem;
}

h3 {
    font-size:24px;
  }
  
p, ul, li, label, input, select {
font-size: 20px;
}

.shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
}

#containerRow{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.card {
    display: flex;
    flex-direction: column;
    width:18rem;
    justify-content: center;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    transition: background-color 0.3s, box-shadow 0.3s;
    text-align: center;
    margin: 5rem 3rem;
    margin-bottom: 7rem;
}

.card:hover {
    background-color: green;
    color: oldlace;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.card-body {
    display: flex;
    height: 5rem;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 0.8rem;
}

.card-img-top {
    width: 100%;
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

img {
    vertical-align: middle;
    border-style: none;
}
