header {
  top: 0;
  left: 0;
  width: 100%;
  padding: 13px 120px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #182628;
  z-index: 100;
  transition: all 0.3s ease;
}

header.sticky {
  /* padding: 20px 120px; */
  /* background: linear-gradient(to bottom, lightslategray,#363945); */
  background-color: #182628;
  /* box-shadow: 0 8px 40px rgba(0,0,0,0.5),
                inset 0 4px 4px rgba(255,255,255,0.2),
                inset 0 -4px 4px rgba(255,255,255,0.2); */
}

header.sticky nav a{
  color: white;
}

/* when it's scrolled */
header.sticky nav a:hover,
header.sticky nav a.active {
  color: #3b945e;
}

/* .logo {
  font-size: 35px;
  text-decoration: none;
  color: black;
  font-family: Lilita One, cursive;
} */

.logo img {
  width: 100px;
  height: 60px;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin-left: 30px;
  transition: all 0.3s ease;
}

/* when it's not scrolled */
nav a:hover,
nav a.active {
  color: #3b945e;
}

.dropdown1 {
  position: relative;
}

.dropdown-container {
  position: relative; /* This is crucial for the absolute positioning of the dropdown */
  display: inline-block; /* Ensures the container doesn't take full width */
  z-index: 101;
}

.sub {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: #182628;
  z-index: 102;
}

.sub a {
  display: block;
  padding: 20px 40px;
}

.dropdown-container:hover .sub {
  display: block;
  z-index: 105;
}

