#light-container{
  display: flex;
  padding:20px;
  padding-top: 100px;
  padding-bottom: 0;
  width: 100%;
  height: 100vh;
}

#lighting-left{
  width:60%;
  margin: 40px;
  margin-top: 0px;
}

.large-text-lights{
  font-size: 32px;
}

.med-text-lights{
  font-size: 24px;
}

.row{
  margin:0 40px;
  text-align: center;
}

h2 {
  padding: 0px;
}

p, ul, li {
  font-size: 14px;
}

button{
    /* margin-bottom: 10px; */
    padding:10px;
    margin: 10px;
}

.lighting-selection{
  /* flex: 1; */
  /* display:contents; */
  flex-direction: column;
  display: flex;
  /* padding:10px; */
  margin:30px 0;
}


label {
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  align-items: center;
}

.label-text, input[type="number"], select {
  width: 50em; /* Set a width based on content */
}

button {
  background-color: rgb(0, 89, 255); /* Blue background color */
  color: white; /* White font color */
  border: none; /* Remove border */
  border-radius: 24px; /* Rounded corners */
  width: 10em;
  padding:10px;
  cursor: pointer; /* Add a pointer cursor on hover */
}

/* Optional: Style hover effect */
button:hover {
  background-color: darkblue; /* Darker blue on hover */
}

.tooltip {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  font-size: 20px;
}

.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Default style for the icon and button */
.hover-icon,
.button1 {
  font-size: 20px; /* Set the font size as needed */
  cursor: pointer; /* Add a pointer cursor on hover */
  margin: 5px;
}

/* Style the button background color and hover effect */
.button1 {
  background-color: transparent; /* No background color */
  border: none; /* Remove border */
  color: inherit; /* Inherit text color (usually black) */
  width: auto; /* Auto width to match content */
  height: auto; /* Auto height to match content */
  padding: 0; /* Remove padding to match icon size */
  outline: none; /* Remove the default focus outline */
  transition: background-color 0.3s; /* Add a smooth background color transition */
}

/* Style the button on hover */
.button1:hover {
  background-color: rgb(0, 89, 255); 
  color: white; /* White text color on hover */
}


#lighting-right{
  width: 40%;
  margin: 40px;
  margin-top: 0px;
  align-items: center;
  display: flex;
  /* background-color: antiquewhite; */
}

#container{
  padding: 40px;
  margin:10px;
  background-color: oldlace;
}

.custom-table {
  border: 1px solid #dee2e6; /* Add desired border style here */
  border-collapse: collapse; /* Optional: Collapses table borders */
  width: 100%; /* Optional: Set table width as needed */
  text-align: left;
}

.custom-table th,
.custom-table td {
    border: 1px solid #000000; /* Add desired border style here */
    padding: 8px; /* Optional: Add padding for better spacing */
    text-align: left;
}

.highlighted-row {
  background-color: lightblue; /* Add your desired highlight color */
  color: black; /* Add your desired text color */
}

/* CSS for the flex container */
.compare-button-container {
  display: flex;
  justify-content: flex-end; /* Adjust alignment as needed */
}

/* CSS for the button */
.compare-button {
  width: 100%;
}
