#container1{
    display: flex;
    padding:20px;
    padding-top: 100px;
    background-color: whitesmoke;
    width: 100%;
    justify-content: center;
  }
  
.lightbulb-header{
    max-width: 700px;
    text-align: center;
}

.py-5{
    padding-bottom: 3rem;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
