section {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center; /* elements are vertically centred. 
  When you use flexBox, elements resizing with window size. 
  When the elements get smaller, it taks less space vertically. 
  All elements will move to maintain it to be centered.*/
  background: #e9ecef;
  padding: 50px;
}

section:nth-child(odd) {
  background: white;
}

#home {
  /*background: 
  linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(ezrayjt.github.io/iteration2/Front_end/images
  /homepagebg.jpg) no-repeat center center/cover;*/
  background-color: #3b945e;
  flex-direction: column;
  min-height: 100vh;
}
#container{
 background-color:#2b3b3e;
}


#article {
  flex-direction: column;
}

.issue-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 570px;
  text-align: center;
}

.issue-box::before {
  content: "";
  position: absolute;
  width: 3px;
  top: 10px;
  bottom: 10px;
  left: 50%;
  background-color: #e9ecef;
  transform: translateX(-50%);
}

.issues {
  position: relative;
  margin: 20px;
  margin-top: 100px;
}

.issue {
  position: relative;
}

.issue img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 7px solid #e9ecef;
}

.issue-text1 {
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  width: 500px;
}

.issue-text2 {
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  padding-left: 50px;
  width: 500px;
}

.issue-text3 {
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  padding: 20px;
  width: 500px;
}

#about{
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
}

.about-box{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 50px;
}

.team-member{
  flex-direction: column;
  text-align: center;
}

.team-member img 
{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 7px solid white;
}

.member-name{
  display: flex;
  flex-direction: column;
}

.member-name p2{
  padding: 5px;
}

i{
  color: #6c757d;
  padding: 6px;
}